
# :443 {
#     reverse_proxy / host.docker.internal:5173
# #    reverse_proxy /api/v1/certificates certificates:3002
#     tls internal
# }

:80, :443 {

    handle /api/files/* {
		reverse_proxy certificates:3002
	}

	handle /api/certificates/* {
		reverse_proxy certificates:3002
	}

	handle /api/* {
		reverse_proxy api-gateway:4000
	}
	
	handle /db/* {
		reverse_proxy api-gateway:4000
	}

	# handle /_session {
	# 	reverse_proxy db:5984
	# }

    handle /socket.io/*  {
       reverse_proxy  ws-service:3001
	}


    handle {
		reverse_proxy host.docker.internal:5173 # for local development
		# reverse_proxy front:80
	}

	tls internal {
		on_demand
	}	
	
}

# :5984 {
# 	reverse_proxy db:5984
# }


 