

:80 {

    handle /api/files/* {
		reverse_proxy certificates:3002
	}

	handle /api/certificates/* {
		reverse_proxy certificates:3002
	}

	handle /api/* {
		reverse_proxy api-gateway:4000
	}
	
	handle /db/* {
		reverse_proxy api-gateway:4000
	}

    handle /socket.io/*  {
       reverse_proxy  ws-service:3001
	}

	handle / {
		reverse_proxy front:80
	}

	log {
        format json
        level INFO
    }
	
}


 