services:
  proxy:
    image: caddy:2.4.5
    restart: unless-stopped
    ports:
      - 80
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
      - ./config/certs:/data/caddy

  db:
    image: couchdb:3.4.2
    volumes:
      - db_data:/opt/couchdb/data # this is for couchdb data
      - ./config/couchdb.ini:/opt/couchdb/etc/local.d/couchdb.ini # this is for couchdb config
    restart: unless-stopped
    environment:
      COUCHDB_USER: $COUCHDB_USERNAME
      COUCHDB_PASSWORD: $COUCHDB_PASSWORD
    ports:
      - 5984

  api-gateway:
    build:
      context: ../../packages/backend/api-gateway
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - 4000
    environment:
      COUCHDB_URL: http://db:5984
      COUCHDB_USERNAME: $COUCHDB_USERNAME
      COUCHDB_PASSWORD: $COUCHDB_PASSWORD
      FRONTEND_URL: http://localhost:5173
      PORT: 4000
      METABASE_SECRET_KEY: $MB_EMBEDDING_SECRET_KEY
      METABASE_SITE_URL: https://app-bi.javapsaludocupacional.com.co

  datawarehouse:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - warehouse_data:/var/lib/postgresql/data
    ports:
      - 5432
    environment:
      POSTGRES_DB: medicaly
      POSTGRES_USER: $WAREHOUSE_POSTGRES_USER
      POSTGRES_PASSWORD: $WAREHOUSE_POSTGRES_PASSWORD

  encode-orders:
    build:
      context: ../../packages/backend/ticket-codes
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    environment:
      COUCHDB_URL: http://db:5984
      COUCHDB_USERNAME: $COUCHDB_USERNAME
      COUCHDB_PASSWORD: $COUCHDB_PASSWORD
      CRON_JOB_EXPRESSION: "0/15 * * * * *" # every 15 seconds

  datawarehouse-sync:
    build:
      context: ../../packages/backend/datawarehouse-sync
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
      - datawarehouse
    environment:
      COUCHDB_URL: http://db:5984
      COUCHDB_USERNAME: $COUCHDB_USERNAME
      COUCHDB_PASSWORD: $COUCHDB_PASSWORD
      CRON_JOB_EXPRESSION: "* * * * *" #  every minute
      WAREHOUSE_DB_URL: $WAREHOUSE_DB_URL

  ws-service:
    build:
      context: ../../packages/backend/ws-service
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 3001

  front:
    build:
      context: ../../packages/frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: https://api.javapsaludocupacional.com.co
        VITE_WS_URL: https://api.javapsaludocupacional.com.co
    restart: unless-stopped
    ports:
      - 80

  metabase:
    image: metabase/metabase:latest
    restart: unless-stopped
    depends_on:
      - metabase-db
    ports:
      - 3000
    environment:
      MB_ENABLE_EMBEDDING_STATIC: true
      MB_DB_CONNECTION_URI: $DB_CONNECTION_URI
      MB_EMBEDDING_SECRET_KEY: $MB_EMBEDDING_SECRET_KEY

  metabase-db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - metabase_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: $DB_POSTGRES_USER
      POSTGRES_PASSWORD: $DB_POSTGRES_PASSWORD

  pdf-engine:
    image: gotenberg/gotenberg:8
    restart: unless-stopped
    ports:
      - 3000

  certificates:
    build:
      context: ../../packages/backend/certificates
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - pdf-engine
    ports:
      - 3002
    environment:
      GOTENBERG_ENDPOINT: http://pdf-engine:3000
      COUCHDB_URL: http://db:5984
      COUCHDB_USERNAME: $COUCHDB_USERNAME
      COUCHDB_PASSWORD: $COUCHDB_PASSWORD
      FILES_API: /api/v1/files/api/
      PORT: 3002

volumes:
  db_data:
    driver: local
  warehouse_data:
    driver: local
  metabase_data:
    driver: local
  # minio_data:
