services:
  proxy:
    image: caddy:2.4.5
    restart: unless-stopped
    ports:
      - 80
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile
      - ./config/certs:/data/caddy
    networks:
      - medicaly-backend

  api-gateway:
    build:
      context: ../../packages/backend/api-gateway
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 4000
    networks:
      - medicaly-backend
    environment:
      COUCHDB_URL: ${COUCHDB_URL}
      COUCHDB_USERNAME: ${COUCHDB_USERNAME}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
      FRONTEND_URL: ${FRONT_URL}
      PORT: 4000
      METABASE_SECRET_KEY: ${MB_EMBEDDING_SECRET_KEY}
      METABASE_SITE_URL: https://app-bi.javapsaludocupacional.com.co

  encode-orders:
    build:
      context: ../../packages/backend/ticket-codes
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      COUCHDB_URL: ${COUCHDB_URL}
      COUCHDB_USERNAME: ${COUCHDB_USERNAME}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
      CRON_JOB_EXPRESSION: "0/15 * * * * *" # every 15 seconds
    networks:
      - medicaly-backend

  datawarehouse-sync:
    build:
      context: ../../packages/backend/datawarehouse-sync
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      COUCHDB_URL: ${COUCHDB_URL}
      COUCHDB_USERNAME: ${COUCHDB_USERNAME}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
      CRON_JOB_EXPRESSION: "* * * * *" #  every minute
      WAREHOUSE_DB_URL: ${WAREHOUSE_DB_URL}
    networks:
      - medicaly-backend

  ws-service:
    build:
      context: ../../packages/backend/ws-service
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - 3001
    networks:
      - medicaly-backend
    environment:
      FRONTEND_URL: ${FRONT_URL}

  front:
    build:
      context: ../../packages/frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_WS_URL: ${VITE_WS_URL}

    restart: unless-stopped
    ports:
      - 80
  pdf-engine:
    image: gotenberg/gotenberg:8
    restart: unless-stopped
    ports:
      - 3000
    networks:
      - medicaly-backend

  certificates:
    build:
      context: ../../packages/backend/certificates
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - pdf-engine
    ports:
      - 3002
    networks:
      - medicaly-backend
    environment:
      GOTENBERG_ENDPOINT: http://pdf-engine:3000
      COUCHDB_URL: ${COUCHDB_URL}
      COUCHDB_USERNAME: ${COUCHDB_USERNAME}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
      FILES_API: /api/v1/files/api/
      PORT: 3002

volumes:
  db_data:
    driver: local

networks:
  medicaly-backend:
    external: true
