@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tipografias */
@font-face {
  font-family: "Inter-100";
  src: local("Inter-100"),
    url("./assets/font/Inter/inter-latin-100-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-100-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-100-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-200";
  src: local("Inter-200"),
    url("./assets/font/Inter/inter-latin-200-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-200-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-200-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-300";
  src: local("Inter-300"),
    url("./assets/font/Inter/inter-latin-300-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-300-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-300-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-400";
  src: local("Inter-400"),
    url("./assets/font/Inter/inter-latin-400-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-400-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-500";
  src: local("Inter-500"),
    url("./assets/font/Inter/inter-latin-500-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-500-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-500-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-600";
  src: local("Inter-600"),
    url("./assets/font/Inter/inter-latin-600-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-600-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-600-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-700";
  src: local("Inter-700"),
    url("./assets/font/Inter/inter-latin-700-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-700-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-700-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-800";
  src: local("Inter-800"),
    url("./assets/font/Inter/inter-latin-800-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-800-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-800-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Inter-900";
  src: local("Inter-900"),
    url("./assets/font/Inter/inter-latin-900-normal.woff") format("woff"),
    url("./assets/font/Inter/inter-latin-900-normal.ttf") format("truetype"),
    url("./assets/font/Inter/inter-latin-900-normal.woff2") format("woff2");
}

.font-thin {
  font-family: "Inter-100";
}
.font-extralight {
  font-family: "Inter-200";
}
.font-light {
  font-family: "Inter-300";
}
.font-normal,
body {
  font-family: "Inter-400";
}
.font-medium {
  font-family: "Inter-500";
}
.font-semibold,
h4,
h5,
h5 {
  font-family: "Inter-600";
}
.font-bold,
h1,
h2,
h3 {
  font-family: "Inter-700";
}
.font-extrabold {
  font-family: "Inter-800";
}
.font-black {
  font-family: "Inter-900";
}

/* diseño scroll */
.scroll::-webkit-scrollbar {
  width: 10px;
  height: 9px;
  background: #f7f7f7;
}

.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(177, 177, 177);
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

/* diseño scroll sidebar */
.scroll-sidebar::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  height: 6px;
  background: #2563eb;
}

.scroll-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(37 99 235);
  border-radius: 5px;
}

.scroll-sidebar::-webkit-scrollbar-thumb {
  background: #aec6fb;
  border-radius: 5px;
}

/* edge password */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* sombra */
.text-shadow {
  text-shadow: 1.8px 1.8px 0px #ededed;
}

/* tooltip */
.tooltip {
  --popper-theme-background-color: #1b182c;
  --popper-theme-background-color-hover: #1b182c;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 10px;
  font-size: 14px;
}

/* title form */
.pt-responsive {
  padding-top: 1.5rem;
}
@media (max-width: 1024px) {
  .pt-responsive {
    padding-top: 0.5rem;
  }
}

/* width form */
.width-content {
  width: calc(100% - 5.03rem);
}
@media (max-width: 640px) {
  .width-content {
    width: calc(100% - 4rem);
  }
}
